.page {
  width: 100%;
}

.headerTitle {
  margin: 0;
}

.queryForm {
  width: 100%;
}

.field {
  width: 100%;
}

.actionCol {
  display: flex;
  justify-content: flex-end;
}

.ellipsisText {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
