.page {
  width: 100%;
}

.headerTitle {
  margin: 0;
}

.queryForm {
  width: 100%;

  :global(.ant-form-item) {
    margin-bottom: 0;
  }
}

.field {
  width: 100%;
}

.actionCol {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.modalBody {
  width: 100%;
}
